@import 'tailwindcss';

@theme {
	--color-bg-900: #050505;
	--color-bg-800: #0c0c0c;
	--color-bg-700: #141414;
	--color-bg-600: #1d1d1d;
	--color-border-stroke: #2a2a2a;
	--color-border-subtle: #1a1a1a;
	--color-primary: #f0ede5;
	--color-secondary: #d6d2c9;
	--color-muted: #a9a59e;
	--color-low: #716d67;
	--color-accent-500: #c8a56a;
	--color-accent-600: #a58451;
	--color-accent-300: #e3cfa3;
	--color-overlay: rgba(200, 165, 106, 0.0008);
	--font-body: var(--font-plus-jakarta);
	--font-heading: var(--font-space-grotesk);
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@layer base {
	* {
		@apply scroll-smooth;
	}
	body {
		@apply font-body bg-bg-900 text-primary;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}

	a {
		@apply text-inherit;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: #f0ede5 !important;
	background-clip: text;
	transition: background-color 5000s ease-in-out 0s !important;
	box-shadow: inset 0 0 0 1000px #141414 !important;
	caret-color: #f0ede5 !important;
}
